[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "*"
cryptography = "*"
keyring = "*"
secretstorage = "*"
qrcode = {extras = ["pil"], version = "*"}
requests = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
